.home-container {
    color: #fff;
    background: linear-gradient(to right, blue, purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home-container .content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px;
}

.home-container h1 {
    margin-bottom: 20px;
}

.home-container h4 {
    margin-bottom: 40px;
}

/* Responsive cho Home Container */
@media (max-width: 1024px) {
    .home-container .content {
        padding: 60px;
    }
}

@media (max-width: 768px) {
    .home-container .content {
        padding: 40px;
    }
}

@media (max-width: 576px) {
    .home-container .content {
        padding: 20px;
    }

    .home-container h1 {
        font-size: 24px;
    }

    .home-container h4 {
        font-size: 16px;
    }
}

/* Danh sách Antivirus */
.section-av {
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.list-av {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.av-item {
    flex: 1 1 calc(25% - 20px);
    max-width: 250px;
    border: 1px dashed #EC8305;
    border-radius: 20px;
    padding: 40px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.av-item h2 {
    color: #EC8305;
    margin-bottom: 20px;
}

.av-item p {
    color: #777777;
}

/* Responsive cho danh sách Antivirus */
@media (max-width: 1024px) {
    .av-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .list-av {
        flex-direction: column;
        align-items: center;
    }

    .av-item {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .list-av {
        flex-direction: column;
    }

    .av-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}