a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    /* Làm chữ đậm */
    color: #ffc107 !important;
    /* Màu khác để nổi bật */
    border-bottom: 2px solid #ffc107;
    /* Gạch chân menu đang active */
}

/* Wallpaper css */
.wallpaper {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
}

.wallpaper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 48px;
}

.title h1 {
    color: #f5af10;
    font-weight: 700;
    font-size: 48px;
    border: 2px dashed #f5af10;
    padding: 12px 24px;
    border-radius: 5px;
}

/* product */
/* Product section */
.section-arrival {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    margin-bottom: 24px;
}

.product-title {
    color: #777777;
}

.product-name {
    font-weight: 600;
    font-size: 20px;

}

.call-now-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f5af10;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    z-index: 1000;
    display: none;
    /* Ẩn trên desktop */
}

/* Ngăn trang bị cuộn ngang */
body {
    overflow-x: hidden;
}

/* Responsive cho danh sách sản phẩm */
@media (max-width: 1024px) {
    .section-arrival {
        justify-content: center;
    }

    .product-item {
        max-width: 45%;
    }

    .wallpaper {
        padding: 0 20px;
        /* Thêm padding để ảnh không sát mép */
    }
}

@media (max-width: 768px) {
    .section-arrival {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        max-width: 100%;
    }

    .wallpaper {
        padding: 0 10px;
    }
}

/* Điều chỉnh tiêu đề */
@media (max-width: 576px) {
    .wallpaper {
        padding: 0;
        /* Đảm bảo hình ảnh nằm trong container */
    }

    .title h1 {
        font-size: 24px;
        padding: 10px 20px;
    }

    .call-now-btn {
        display: block;
    }

    footer {
        margin-bottom: 40px;
    }
}